@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:200,400,300,700);
body {
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300 !important;
  line-height: 16px;
}
body h1, body h2, body p {
  font-family: "Roboto", Arial, sans-serif;
}
body h1 {
  font-size: 7.125em;
  font-weight: 300;
  font-family: "Roboto Slab", Arial, sans-serif;
}
body h2 {
  font-size: 5em;
  font-weight: bold !important;
}
body h3 {
  font-size: 2.25em;
  font-weight: 100;
  font-family: "Roboto Slab", Arial, sans-serif;
  line-height: 1.25em;
  margin-bottom: 20px;
}
body h4 {
  font-size: 1.875em;
}
body h5 {
  font-size: 1.25em;
}
body h6 {
  font-size: 1.125em;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-weight: 100;
}
body p {
  font-size: 1.125em;
  font-weight: 300 !important;
  line-height: 1.75em;
  margin-bottom: 20px;
}
body small {
  font-size: 0.875em;
  font-weight: 100 !important;
  line-height: 1.75em;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-semi-bold {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: bold;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.font-family-alternate {
  font-family: "Roboto Slab", Arial, sans-serif;
}

.font-family-alternate {
  font-family: "Roboto", Arial, sans-serif;
}

.lh-1 {
  line-height: 0.0625em;
}

.lh-2 {
  line-height: 0.125em;
}

.lh-3 {
  line-height: 0.1875em;
}

.lh-4 {
  line-height: 0.25em;
}

.lh-5 {
  line-height: 0.3125em;
}

.lh-6 {
  line-height: 0.375em;
}

.lh-7 {
  line-height: 0.4375em;
}

.lh-8 {
  line-height: 0.5em;
}

.lh-9 {
  line-height: 0.5625em;
}

.lh-10 {
  line-height: 0.625em;
}

.lh-11 {
  line-height: 0.6875em;
}

.lh-12 {
  line-height: 0.75em;
}

.lh-13 {
  line-height: 0.8125em;
}

.lh-14 {
  line-height: 0.875em;
}

.lh-15 {
  line-height: 0.9375em;
}

.lh-16 {
  line-height: 1em;
}

.lh-17 {
  line-height: 1.0625em;
}

.lh-18 {
  line-height: 1.125em;
}

.lh-19 {
  line-height: 1.1875em;
}

.lh-20 {
  line-height: 1.25em;
}

.lh-21 {
  line-height: 1.3125em;
}

.lh-22 {
  line-height: 1.375em;
}

.lh-23 {
  line-height: 1.4375em;
}

.lh-24 {
  line-height: 1.5em;
}

.lh-25 {
  line-height: 1.5625em;
}

.lh-26 {
  line-height: 1.625em;
}

.lh-27 {
  line-height: 1.6875em;
}

.lh-28 {
  line-height: 1.75em;
}

.lh-29 {
  line-height: 1.8125em;
}

.lh-30 {
  line-height: 1.875em;
}

.lh-31 {
  line-height: 1.9375em;
}

.lh-32 {
  line-height: 2em;
}

.lh-33 {
  line-height: 2.0625em;
}

.lh-34 {
  line-height: 2.125em;
}

.lh-35 {
  line-height: 2.1875em;
}

.lh-36 {
  line-height: 2.25em;
}

.lh-37 {
  line-height: 2.3125em;
}

.lh-38 {
  line-height: 2.375em;
}

.lh-39 {
  line-height: 2.4375em;
}

.lh-40 {
  line-height: 2.5em;
}

.lh-41 {
  line-height: 2.5625em;
}

.lh-42 {
  line-height: 2.625em;
}

.lh-43 {
  line-height: 2.6875em;
}

.lh-44 {
  line-height: 2.75em;
}

.lh-45 {
  line-height: 2.8125em;
}

.lh-46 {
  line-height: 2.875em;
}

.lh-47 {
  line-height: 2.9375em;
}

.lh-48 {
  line-height: 3em;
}

.lh-49 {
  line-height: 3.0625em;
}

.lh-50 {
  line-height: 3.125em;
}

.lh-51 {
  line-height: 3.1875em;
}

.lh-52 {
  line-height: 3.25em;
}

.lh-53 {
  line-height: 3.3125em;
}

.lh-54 {
  line-height: 3.375em;
}

.lh-55 {
  line-height: 3.4375em;
}

.lh-56 {
  line-height: 3.5em;
}

.lh-57 {
  line-height: 3.5625em;
}

.lh-58 {
  line-height: 3.625em;
}

.lh-59 {
  line-height: 3.6875em;
}

.lh-60 {
  line-height: 3.75em;
}

.lh-61 {
  line-height: 3.8125em;
}

.lh-62 {
  line-height: 3.875em;
}

.lh-63 {
  line-height: 3.9375em;
}

.lh-64 {
  line-height: 4em;
}

.lh-65 {
  line-height: 4.0625em;
}

.lh-66 {
  line-height: 4.125em;
}

.lh-67 {
  line-height: 4.1875em;
}

.lh-68 {
  line-height: 4.25em;
}

.lh-69 {
  line-height: 4.3125em;
}

.lh-70 {
  line-height: 4.375em;
}

.lh-71 {
  line-height: 4.4375em;
}

.lh-72 {
  line-height: 4.5em;
}

.lh-73 {
  line-height: 4.5625em;
}

.lh-74 {
  line-height: 4.625em;
}

.lh-75 {
  line-height: 4.6875em;
}

.lh-76 {
  line-height: 4.75em;
}

.lh-77 {
  line-height: 4.8125em;
}

.lh-78 {
  line-height: 4.875em;
}

.lh-79 {
  line-height: 4.9375em;
}

.lh-80 {
  line-height: 5em;
}

.lh-81 {
  line-height: 5.0625em;
}

.lh-82 {
  line-height: 5.125em;
}

.lh-83 {
  line-height: 5.1875em;
}

.lh-84 {
  line-height: 5.25em;
}

.lh-85 {
  line-height: 5.3125em;
}

.lh-86 {
  line-height: 5.375em;
}

.lh-87 {
  line-height: 5.4375em;
}

.lh-88 {
  line-height: 5.5em;
}

.lh-89 {
  line-height: 5.5625em;
}

.lh-90 {
  line-height: 5.625em;
}

.lh-91 {
  line-height: 5.6875em;
}

.lh-92 {
  line-height: 5.75em;
}

.lh-93 {
  line-height: 5.8125em;
}

.lh-94 {
  line-height: 5.875em;
}

.lh-95 {
  line-height: 5.9375em;
}

.lh-96 {
  line-height: 6em;
}

.lh-97 {
  line-height: 6.0625em;
}

.lh-98 {
  line-height: 6.125em;
}

.lh-99 {
  line-height: 6.1875em;
}

.lh-100 {
  line-height: 6.25em;
}

.lh-101 {
  line-height: 6.3125em;
}

.lh-102 {
  line-height: 6.375em;
}

.lh-103 {
  line-height: 6.4375em;
}

.lh-104 {
  line-height: 6.5em;
}

.lh-105 {
  line-height: 6.5625em;
}

.lh-106 {
  line-height: 6.625em;
}

.lh-107 {
  line-height: 6.6875em;
}

.lh-108 {
  line-height: 6.75em;
}

.lh-109 {
  line-height: 6.8125em;
}

.lh-110 {
  line-height: 6.875em;
}

.lh-111 {
  line-height: 6.9375em;
}

.lh-112 {
  line-height: 7em;
}

.lh-113 {
  line-height: 7.0625em;
}

.lh-114 {
  line-height: 7.125em;
}

.lh-115 {
  line-height: 7.1875em;
}

.lh-116 {
  line-height: 7.25em;
}

.lh-117 {
  line-height: 7.3125em;
}

.lh-118 {
  line-height: 7.375em;
}

.lh-119 {
  line-height: 7.4375em;
}

.lh-120 {
  line-height: 7.5em;
}

.lh-121 {
  line-height: 7.5625em;
}

.lh-122 {
  line-height: 7.625em;
}

.lh-123 {
  line-height: 7.6875em;
}

.lh-124 {
  line-height: 7.75em;
}

.lh-125 {
  line-height: 7.8125em;
}

.lh-126 {
  line-height: 7.875em;
}

.lh-127 {
  line-height: 7.9375em;
}

.lh-128 {
  line-height: 8em;
}

.lh-129 {
  line-height: 8.0625em;
}

.lh-130 {
  line-height: 8.125em;
}

.lh-131 {
  line-height: 8.1875em;
}

.lh-132 {
  line-height: 8.25em;
}

.lh-133 {
  line-height: 8.3125em;
}

.lh-134 {
  line-height: 8.375em;
}

.lh-135 {
  line-height: 8.4375em;
}

.lh-136 {
  line-height: 8.5em;
}

.lh-137 {
  line-height: 8.5625em;
}

.lh-138 {
  line-height: 8.625em;
}

.lh-139 {
  line-height: 8.6875em;
}

.lh-140 {
  line-height: 8.75em;
}

.lh-141 {
  line-height: 8.8125em;
}

.lh-142 {
  line-height: 8.875em;
}

.lh-143 {
  line-height: 8.9375em;
}

.lh-144 {
  line-height: 9em;
}

.lh-145 {
  line-height: 9.0625em;
}

.lh-146 {
  line-height: 9.125em;
}

.lh-147 {
  line-height: 9.1875em;
}

.lh-148 {
  line-height: 9.25em;
}

.lh-149 {
  line-height: 9.3125em;
}

.lh-150 {
  line-height: 9.375em;
}

.lh-151 {
  line-height: 9.4375em;
}

.lh-152 {
  line-height: 9.5em;
}

.lh-153 {
  line-height: 9.5625em;
}

.lh-154 {
  line-height: 9.625em;
}

.lh-155 {
  line-height: 9.6875em;
}

.lh-156 {
  line-height: 9.75em;
}

.lh-157 {
  line-height: 9.8125em;
}

.lh-158 {
  line-height: 9.875em;
}

.lh-159 {
  line-height: 9.9375em;
}

.lh-160 {
  line-height: 10em;
}

.lh-161 {
  line-height: 10.0625em;
}

.lh-162 {
  line-height: 10.125em;
}

.lh-163 {
  line-height: 10.1875em;
}

.lh-164 {
  line-height: 10.25em;
}

.lh-165 {
  line-height: 10.3125em;
}

.lh-166 {
  line-height: 10.375em;
}

.lh-167 {
  line-height: 10.4375em;
}

.lh-168 {
  line-height: 10.5em;
}

.lh-169 {
  line-height: 10.5625em;
}

.lh-170 {
  line-height: 10.625em;
}

.lh-171 {
  line-height: 10.6875em;
}

.lh-172 {
  line-height: 10.75em;
}

.lh-173 {
  line-height: 10.8125em;
}

.lh-174 {
  line-height: 10.875em;
}

.lh-175 {
  line-height: 10.9375em;
}

.lh-176 {
  line-height: 11em;
}

.lh-177 {
  line-height: 11.0625em;
}

.lh-178 {
  line-height: 11.125em;
}

.lh-179 {
  line-height: 11.1875em;
}

.lh-180 {
  line-height: 11.25em;
}

.lh-181 {
  line-height: 11.3125em;
}

.lh-182 {
  line-height: 11.375em;
}

.lh-183 {
  line-height: 11.4375em;
}

.lh-184 {
  line-height: 11.5em;
}

.lh-185 {
  line-height: 11.5625em;
}

.lh-186 {
  line-height: 11.625em;
}

.lh-187 {
  line-height: 11.6875em;
}

.lh-188 {
  line-height: 11.75em;
}

.lh-189 {
  line-height: 11.8125em;
}

.lh-190 {
  line-height: 11.875em;
}

.lh-191 {
  line-height: 11.9375em;
}

.lh-192 {
  line-height: 12em;
}

.lh-193 {
  line-height: 12.0625em;
}

.lh-194 {
  line-height: 12.125em;
}

.lh-195 {
  line-height: 12.1875em;
}

.lh-196 {
  line-height: 12.25em;
}

.lh-197 {
  line-height: 12.3125em;
}

.lh-198 {
  line-height: 12.375em;
}

.lh-199 {
  line-height: 12.4375em;
}

.lh-200 {
  line-height: 12.5em;
}

.fs-1 {
  font-size: 0.0625em;
}

.fs-2 {
  font-size: 0.125em;
}

.fs-3 {
  font-size: 0.1875em;
}

.fs-4 {
  font-size: 0.25em;
}

.fs-5 {
  font-size: 0.3125em;
}

.fs-6 {
  font-size: 0.375em;
}

.fs-7 {
  font-size: 0.4375em;
}

.fs-8 {
  font-size: 0.5em;
}

.fs-9 {
  font-size: 0.5625em;
}

.fs-10 {
  font-size: 0.625em;
}

.fs-11 {
  font-size: 0.6875em;
}

.fs-12 {
  font-size: 0.75em;
}

.fs-13 {
  font-size: 0.8125em;
}

.fs-14 {
  font-size: 0.875em;
}

.fs-15 {
  font-size: 0.9375em;
}

.fs-16 {
  font-size: 1em;
}

.fs-17 {
  font-size: 1.0625em;
}

.fs-18 {
  font-size: 1.125em;
}

.fs-19 {
  font-size: 1.1875em;
}

.fs-20 {
  font-size: 1.25em;
}

.fs-21 {
  font-size: 1.3125em;
}

.fs-22 {
  font-size: 1.375em;
}

.fs-23 {
  font-size: 1.4375em;
}

.fs-24 {
  font-size: 1.5em;
}

.fs-25 {
  font-size: 1.5625em;
}

.fs-26 {
  font-size: 1.625em;
}

.fs-27 {
  font-size: 1.6875em;
}

.fs-28 {
  font-size: 1.75em;
}

.fs-29 {
  font-size: 1.8125em;
}

.fs-30 {
  font-size: 1.875em;
}

.fs-31 {
  font-size: 1.9375em;
}

.fs-32 {
  font-size: 2em;
}

.fs-33 {
  font-size: 2.0625em;
}

.fs-34 {
  font-size: 2.125em;
}

.fs-35 {
  font-size: 2.1875em;
}

.fs-36 {
  font-size: 2.25em;
}

.fs-37 {
  font-size: 2.3125em;
}

.fs-38 {
  font-size: 2.375em;
}

.fs-39 {
  font-size: 2.4375em;
}

.fs-40 {
  font-size: 2.5em;
}

.fs-41 {
  font-size: 2.5625em;
}

.fs-42 {
  font-size: 2.625em;
}

.fs-43 {
  font-size: 2.6875em;
}

.fs-44 {
  font-size: 2.75em;
}

.fs-45 {
  font-size: 2.8125em;
}

.fs-46 {
  font-size: 2.875em;
}

.fs-47 {
  font-size: 2.9375em;
}

.fs-48 {
  font-size: 3em;
}

.fs-49 {
  font-size: 3.0625em;
}

.fs-50 {
  font-size: 3.125em;
}

.fs-51 {
  font-size: 3.1875em;
}

.fs-52 {
  font-size: 3.25em;
}

.fs-53 {
  font-size: 3.3125em;
}

.fs-54 {
  font-size: 3.375em;
}

.fs-55 {
  font-size: 3.4375em;
}

.fs-56 {
  font-size: 3.5em;
}

.fs-57 {
  font-size: 3.5625em;
}

.fs-58 {
  font-size: 3.625em;
}

.fs-59 {
  font-size: 3.6875em;
}

.fs-60 {
  font-size: 3.75em;
}

.fs-61 {
  font-size: 3.8125em;
}

.fs-62 {
  font-size: 3.875em;
}

.fs-63 {
  font-size: 3.9375em;
}

.fs-64 {
  font-size: 4em;
}

.fs-65 {
  font-size: 4.0625em;
}

.fs-66 {
  font-size: 4.125em;
}

.fs-67 {
  font-size: 4.1875em;
}

.fs-68 {
  font-size: 4.25em;
}

.fs-69 {
  font-size: 4.3125em;
}

.fs-70 {
  font-size: 4.375em;
}

.fs-71 {
  font-size: 4.4375em;
}

.fs-72 {
  font-size: 4.5em;
}

.fs-73 {
  font-size: 4.5625em;
}

.fs-74 {
  font-size: 4.625em;
}

.fs-75 {
  font-size: 4.6875em;
}

.fs-76 {
  font-size: 4.75em;
}

.fs-77 {
  font-size: 4.8125em;
}

.fs-78 {
  font-size: 4.875em;
}

.fs-79 {
  font-size: 4.9375em;
}

.fs-80 {
  font-size: 5em;
}

.fs-81 {
  font-size: 5.0625em;
}

.fs-82 {
  font-size: 5.125em;
}

.fs-83 {
  font-size: 5.1875em;
}

.fs-84 {
  font-size: 5.25em;
}

.fs-85 {
  font-size: 5.3125em;
}

.fs-86 {
  font-size: 5.375em;
}

.fs-87 {
  font-size: 5.4375em;
}

.fs-88 {
  font-size: 5.5em;
}

.fs-89 {
  font-size: 5.5625em;
}

.fs-90 {
  font-size: 5.625em;
}

.fs-91 {
  font-size: 5.6875em;
}

.fs-92 {
  font-size: 5.75em;
}

.fs-93 {
  font-size: 5.8125em;
}

.fs-94 {
  font-size: 5.875em;
}

.fs-95 {
  font-size: 5.9375em;
}

.fs-96 {
  font-size: 6em;
}

.fs-97 {
  font-size: 6.0625em;
}

.fs-98 {
  font-size: 6.125em;
}

.fs-99 {
  font-size: 6.1875em;
}

.fs-100 {
  font-size: 6.25em;
}

.fs-101 {
  font-size: 6.3125em;
}

.fs-102 {
  font-size: 6.375em;
}

.fs-103 {
  font-size: 6.4375em;
}

.fs-104 {
  font-size: 6.5em;
}

.fs-105 {
  font-size: 6.5625em;
}

.fs-106 {
  font-size: 6.625em;
}

.fs-107 {
  font-size: 6.6875em;
}

.fs-108 {
  font-size: 6.75em;
}

.fs-109 {
  font-size: 6.8125em;
}

.fs-110 {
  font-size: 6.875em;
}

.fs-111 {
  font-size: 6.9375em;
}

.fs-112 {
  font-size: 7em;
}

.fs-113 {
  font-size: 7.0625em;
}

.fs-114 {
  font-size: 7.125em;
}

.fs-115 {
  font-size: 7.1875em;
}

.fs-116 {
  font-size: 7.25em;
}

.fs-117 {
  font-size: 7.3125em;
}

.fs-118 {
  font-size: 7.375em;
}

.fs-119 {
  font-size: 7.4375em;
}

.fs-120 {
  font-size: 7.5em;
}

.fs-121 {
  font-size: 7.5625em;
}

.fs-122 {
  font-size: 7.625em;
}

.fs-123 {
  font-size: 7.6875em;
}

.fs-124 {
  font-size: 7.75em;
}

.fs-125 {
  font-size: 7.8125em;
}

.fs-126 {
  font-size: 7.875em;
}

.fs-127 {
  font-size: 7.9375em;
}

.fs-128 {
  font-size: 8em;
}

.fs-129 {
  font-size: 8.0625em;
}

.fs-130 {
  font-size: 8.125em;
}

.fs-131 {
  font-size: 8.1875em;
}

.fs-132 {
  font-size: 8.25em;
}

.fs-133 {
  font-size: 8.3125em;
}

.fs-134 {
  font-size: 8.375em;
}

.fs-135 {
  font-size: 8.4375em;
}

.fs-136 {
  font-size: 8.5em;
}

.fs-137 {
  font-size: 8.5625em;
}

.fs-138 {
  font-size: 8.625em;
}

.fs-139 {
  font-size: 8.6875em;
}

.fs-140 {
  font-size: 8.75em;
}

.fs-141 {
  font-size: 8.8125em;
}

.fs-142 {
  font-size: 8.875em;
}

.fs-143 {
  font-size: 8.9375em;
}

.fs-144 {
  font-size: 9em;
}

.fs-145 {
  font-size: 9.0625em;
}

.fs-146 {
  font-size: 9.125em;
}

.fs-147 {
  font-size: 9.1875em;
}

.fs-148 {
  font-size: 9.25em;
}

.fs-149 {
  font-size: 9.3125em;
}

.fs-150 {
  font-size: 9.375em;
}

.fs-151 {
  font-size: 9.4375em;
}

.fs-152 {
  font-size: 9.5em;
}

.fs-153 {
  font-size: 9.5625em;
}

.fs-154 {
  font-size: 9.625em;
}

.fs-155 {
  font-size: 9.6875em;
}

.fs-156 {
  font-size: 9.75em;
}

.fs-157 {
  font-size: 9.8125em;
}

.fs-158 {
  font-size: 9.875em;
}

.fs-159 {
  font-size: 9.9375em;
}

.fs-160 {
  font-size: 10em;
}

.fs-161 {
  font-size: 10.0625em;
}

.fs-162 {
  font-size: 10.125em;
}

.fs-163 {
  font-size: 10.1875em;
}

.fs-164 {
  font-size: 10.25em;
}

.fs-165 {
  font-size: 10.3125em;
}

.fs-166 {
  font-size: 10.375em;
}

.fs-167 {
  font-size: 10.4375em;
}

.fs-168 {
  font-size: 10.5em;
}

.fs-169 {
  font-size: 10.5625em;
}

.fs-170 {
  font-size: 10.625em;
}

.fs-171 {
  font-size: 10.6875em;
}

.fs-172 {
  font-size: 10.75em;
}

.fs-173 {
  font-size: 10.8125em;
}

.fs-174 {
  font-size: 10.875em;
}

.fs-175 {
  font-size: 10.9375em;
}

.fs-176 {
  font-size: 11em;
}

.fs-177 {
  font-size: 11.0625em;
}

.fs-178 {
  font-size: 11.125em;
}

.fs-179 {
  font-size: 11.1875em;
}

.fs-180 {
  font-size: 11.25em;
}

.fs-181 {
  font-size: 11.3125em;
}

.fs-182 {
  font-size: 11.375em;
}

.fs-183 {
  font-size: 11.4375em;
}

.fs-184 {
  font-size: 11.5em;
}

.fs-185 {
  font-size: 11.5625em;
}

.fs-186 {
  font-size: 11.625em;
}

.fs-187 {
  font-size: 11.6875em;
}

.fs-188 {
  font-size: 11.75em;
}

.fs-189 {
  font-size: 11.8125em;
}

.fs-190 {
  font-size: 11.875em;
}

.fs-191 {
  font-size: 11.9375em;
}

.fs-192 {
  font-size: 12em;
}

.fs-193 {
  font-size: 12.0625em;
}

.fs-194 {
  font-size: 12.125em;
}

.fs-195 {
  font-size: 12.1875em;
}

.fs-196 {
  font-size: 12.25em;
}

.fs-197 {
  font-size: 12.3125em;
}

.fs-198 {
  font-size: 12.375em;
}

.fs-199 {
  font-size: 12.4375em;
}

.fs-200 {
  font-size: 12.5em;
}

.container, .container-fluid {
  max-width: 100%;
}

.box-layout .row {
  max-width: 1180px !important;
  margin-right: auto;
  margin-left: auto;
}

.full-screen-height {
  overflow-y: visible;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin-bottom: 0;
  margin-top: 0;
  margin-top: 60px;
  height: 895px;
}

.align-v-center {
  display: flex;
  align-items: center;
}

.align-v-bottom {
  display: flex;
  align-items: flex-end;
}

.align-v-top {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 767px) {
  .vertical-center, .reset-v-align {
    transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    -webkit-transform: translateY(0) !important;
    -o-transform: translateY(0) !important;
  }

  .full-screen-height {
    height: auto !important;
  }
}
.main-nav li {
  height: 100%;
}
.main-nav li > a {
  text-shadow: none;
  font-size: 0.9375em;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 10px;
  color: #747474;
}
.main-nav li > a:hover, .main-nav li > a:active, .main-nav li > a:focus {
  background: none;
  color: #FF4C23;
}
.main-nav li > a.active {
  background: #FF4C23;
  color: #FFFFFF;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.header .row {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
.header .logo {
  width: 178px;
}

.footer {
  background: #303440;
  color: #ACACAC;
  text-align: center;
  height: 456px;
  font-weight: 100;
  font-size: 0.875em;
  padding-top: 120px;
}
.footer .logo {
  margin-bottom: 20px;
}
.footer .logo img {
  width: 178px;
}
.footer .social {
  margin-bottom: 20px;
  border-bottom: 1px solid #ACACAC;
  font-size: 1.5625em;
  padding-bottom: 20px;
}
.footer .social a {
  border-radius: 60px;
  width: 60px;
  height: 60px;
  border: 1px solid #FFFFFF;
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 60px;
}
.footer .social a i {
  line-height: 60px;
  font-size: 25px;
}
.footer .social a:hover {
  background: #fff;
  color: #303440;
}
.footer a {
  color: #FFFFFF;
}
.footer a:hover {
  color: #fff;
}

@media (max-width: 767px) {
  .footer {
    height: 260px;
    padding-top: 60px;
  }
  .footer .logo img {
    width: 90px;
  }
  .footer .social a {
    width: 40px;
    height: 40px;
    line-height: 35px !important;
  }
  .footer .social a i {
    font-size: 0.75em;
    line-height: 40px !important;
  }
}
.classic-home {
  height: 750px;
  padding-top: 120px;
  overflow: hidden;
  clear: both;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #d8d8d8 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #d8d8d8 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #d8d8d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d8d8d8', GradientType=0);
}
.classic-home .hero-phone {
  height: 630px;
  background: url("../images/phone-hero-white.png") no-repeat left top;
  background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
}
.classic-home .hero-text {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 100%;
  margin-bottom: 40px;
}
.classic-home .hero-text p {
  margin-bottom: 40px;
  margin-top: 20px;
}
.classic-home .hero-text .store {
  margin-top: 20px;
}
.classic-home .hero-text .store img {
  width: 210px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.classic-about .stacked-screens {
  margin-left: auto;
  margin-right: auto;
  max-width: 260px;
  float: none;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}
.classic-about .stacked-screens .screen {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 50px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 50px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 50px;
  top: 0;
  max-width: 346px;
}
.classic-about .stacked-screens .screen2 {
  transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  z-index: -1;
}
.classic-about .stacked-screens .screen1 {
  transform: translate(-25%, -88%);
  -moz-transform: translate(-25%, -88%);
  -webkit-transform: translate(-25%, -88%);
  -o-transform: translate(-25%, -88%);
  z-index: 12;
}
.classic-about .bullet {
  font-size: 1.125em;
  font-weight: 100 !important;
  font-family: "Roboto Slab", Arial, sans-serif;
  margin-top: 20px;
  padding: 0;
}
.classic-about .bullet li {
  margin-bottom: 15px;
  line-height: 1.75em;
  font-weight: 100 !important;
  list-style: none;
  background: url("../images/bullet-style.png") no-repeat 0 10px;
  background-size: 11px 11px;
  padding-left: 30px;
  margin-left: 20px;
}

/*mobile phone style for the classic home*/
@media (max-width: 767px) {
  body .classic-home {
    padding-top: 40px;
    height: auto;
  }
  body .classic-home .hero-text {
    text-align: center;
    margin-top: 60px;
  }
  body .classic-home .hero-text .store {
    margin-top: 20px;
  }
  body .classic-home .hero-text .store img {
    margin-right: 0px;
  }
  body .classic-home .hero-phone {
    background-position: center top;
    height: 510px;
  }
  body .classic-about {
    font-size: 0.875em;
  }
  body .classic-about .about-caption {
    margin-top: 100px;
  }
  body .classic-about ul {
    margin-bottom: 40px;
  }
  body .classic-about ul li {
    background-position: 10px 7px;
  }
  body .classic-about .stacked-screens {
    float: right;
  }
}
/*For small desktops and tabs*/
@media (min-width: 768px) and (max-width: 1000px) {
  body .classic-home {
    padding-top: 20px;
    height: auto;
    text-align: center;
  }
  body .classic-home .hero-phone {
    background-position: center top;
    height: 510px;
    background-position: center top;
  }
  body .classic-home .row {
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .classic-about .about-caption {
    margin-top: 120px;
  }
  .classic-about .stacked-screens {
    margin-top: 50px;
  }
}
/*For Most regular desktops*/
@media (min-width: 1001px) and (max-width: 1130px) {
  body .classic-home {
    height: 630px;
  }
}
@media (min-width: 1001px) {
  .classic-about {
    height: 800px;
  }
  .classic-about .about-caption {
    margin-top: 220px;
  }
  .classic-about .stacked-screens {
    margin-top: 150px;
  }
}
