.container, .container-fluid {
  max-width: 100%;
}
.box-layout{
  .row{
    max-width: 1180px !important;
    margin-right: auto;
    margin-left: auto;
  }
}
.full-screen-height{
  overflow-y: visible;
  @include box-sizing(border-box);
  margin-bottom: 0;
  margin-top: 0;
  margin-top: 60px;
  height: 895px;
}
.align-v-center{
  display: flex;
  align-items: center;
}
.align-v-bottom{
  display: flex;
  align-items: flex-end;
}
.align-v-top{
  display: flex;
  align-items: flex-start;
}

@media ($device-phone-tab) {
  .vertical-center, .reset-v-align{
    @include transform(translateY(0) !important);
  }
  .full-screen-height{
    height: auto !important;
  }
}
