@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

@import "variables";
@import "mixin";





//typography default style
body {
  font-size: $font-size-default;
  font-family: $font-family-basic;
  font-weight: 300 !important;

  h1, h2, p, {
    font-family: $font-family-basic;
  }

  h1 {
    @include ems(114);
    font-weight: 100;
    font-family: $font-family-alternate;
  }
  h2 {
    @include ems(80);
    font-weight: bold !important;
  }
  h3 {
    @include ems(36);
    font-weight: 100;
    font-family: $font-family-alternate;
  }
  h4 {
    @include ems(30);
  }
  h5 {
    @include ems(20);
  }
  h6 {
    @include ems(18);
    font-family: $font-family-alternate;
    font-weight: 100;
  }
  p {
    @include ems(18);
    font-weight: 200 !important;
  }
  small {
    @include ems(14);
    font-weight: 100 !important;
  }

}
//classes
.font-weight-light {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-semi-bold {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: bold;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.font-family-alternate {
  font-family: $font-family-alternate;
}

.font-family-alternate {
  font-family: $font-family-basic;
}

@include line-height();
@include font-size();
