@import "variables";

body{
  background: $color-bg ;
  color: $color-text-main ;

  h1{
    color: $color-theme-main;
  }
  h2{
    color: $color-text-dark;
  }
  h3{
    color: $color-text-dark;
  }
  h4{
    color: $color-text-dark;
  }
  h5{
    color: $color-text-main;
  }
  h6{
    color: $color-theme-main;
  }
  p, small{
    color: $color-text-main;
  }
  a{
    color: $color-text-alt;
  }
  a:hover{
    color: $color-text-main;
  }
}

//Background classes
.color-bg-white{
  background: $color-white;
}
.color-bg-black{
  background: $color-black;
}
.color-bg-theme-dark{
  background: $color-theme-alt;
}

.color-text-white{
  color: $color-white;
}
.color-text-black{
  color: $color-black;
}
.color-text-alt{
  color: $color-text-alt;
}
.color-text-alt-2{
  color: $color-text-alt;
}
.color-text-default{
  color: $color-text-main;
}
.color-text-dark{
  color: $color-text-dark;
}
.color-text-theme-main{
  color: $color-theme-main;
}
.color-text-theme-alt{
  color: $color-theme-alt;
}

