<html>
    <title>Mobo - Single page HTML Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap single page template">
    <meta name="author" content="">

    <!-- Set Fav Icons-->
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <link rel="shortcut icon" href="../images/favicon.ico">
<head>
    <link type="text/css"  href="../css/bootstrap.min.css" rel="stylesheet">
    <link  type="text/css"  href="../css/bootstrap-theme.min.css"  rel="stylesheet">
    <link type="text/css" href="../css/mobo-main.css" rel="stylesheet">
</head>
<body>
    {{>body}}
</body>
</html>

<!--Scripts-->
<script type="application/javascript" src="../js/jquery-3.1.0.min.js"></script>
<script type="application/javascript" src="../js/mobo.js"></script>
<script type="application/javascript" src="../js/bootstrap.min.js.js"></script>