<div class="container-fluid classic-home box-layout">
    <div class="row">
        <div class="col-md-7 col-md-push-5 hero-text-holder ">
            <div class="hero-text">
                <h3>Beautifully Crafted Single Page HTML Template  </h3>
                <p>Mobo gives you everything you need to build a website for your awesome app. 4 layout with over 20
                    modules that you can mix and use as you please.</p>
               <div class="store">
                    <a href="#"><img src="../images/app-Store-Badge-black.png"></a>
                    <a href="#"><img src="../images/google-Play-Badge-black.png"></a>
               </div>
            </div>
        </div>
        <div class="col-md-5 hero-phone col-md-pull-7">
            <br>
        </div>
    </div>
</div>