<div class="container-fluid classic-about   box-layout clearfix">
    <div class="row  ">
        <div class="col-md-6 col-sm-12  ">
            <div class="about-caption">
                <h3>Everything you need to showcase your  app</h3>
            <p>Mobo gives you everything you need to build a website for your awesome app. 4 layout with over 20 modules that you can mix
                and use as you please.</p>
            <ul class="bullet">
                <li>Highly Detailed Design</li>
                <li>600+ FontAwesome Icons </li>
                <li>Unmatchable Simplicity</li>
            </ul>
            </div>
        </div>
        <div class="col-md-4 col-md-push-1 col-xs-10 text-center stacked-screens-holder ">
            <div class="stacked-screens ">
                <div class="screen screen2"><img class="img-responsive" src="../images/about-screen2.png"></div>
                <div class="screen screen1"><img class="img-responsive" src="../images/about-screen1.png"></div>
            </div>
        </div>
    </div>
</div>