<div class="container-fluid box-layout  classic-carousel ">
    <div class="row ">
        <div class="col-md-1 col-md-offset-1  hidden-xs hidden-sm ">
            <div class="carousel-ctl ">
                <span class="slider-btn ">
                    <svg width="70px" height="70px">
                        <circle cx="35" cy="35" r="34" stroke-width="2" stroke="#FF4C22" fill="none"/>
                        <circle cx="35" cy="35" r="35" fill="#FF4C22"/>
                        <polyline id="nav-forward-hover" stroke="#FFFFFF" stroke-width="3" stroke-linecap="square"
                                  fill="none" points="29 21 43.9711795 34.376036 29 47.1538462"></polyline>
                    </svg>
                </span>
                 <span class="slider-btn ">
                    <svg width="70px" height="70px">
                        <circle cx="35" cy="35" r="34" stroke-width="2" stroke="#525252" fill="none"/>
                        <circle cx="35" cy="35" r="0" fill="#FF4C22"/>
                        <polyline id="nav-forward-hover" stroke="#525252" stroke-width="3" stroke-linecap="square"
                                  fill="none"
                                  transform="translate(32.485590, 34.076923) scale(-1, 1) translate(-32.485590, -34.076923) "
                                  points="25 21 39.9711795 34.376036 25 47.1538462"></polyline>
                    </svg>
                </span>
            </div>
        </div>
        <div class="col-md-4 hidden-xs hidden-sm">
            <div class="carousel-phone align-v-center">
                <div class="phone-screen ">
                    <ul class="screen-list">
                        <li><img class="img-responsive" src="../images/about-screen1.png"></li>
                        <li><img class="img-responsive" src="../images/about-screen2.png"></li>
                        <li><img class="img-responsive" src="../images/about-screen1.png"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carousel-hint hidden-xs hidden-sm">
            <ul>
                <li><img class="img-responsive" src="../images/about-screen1.png"></li>
                <li><img class="img-responsive" src="../images/about-screen2.png"></li>
                <li><img class="img-responsive" src="../images/about-screen1.png"></li>
            </ul>
        </div>
        <div class="col-md-4 col-md-offset-1 col-md-5 desc col-xs-12">
            <span>
                <span class="mobo-icon">
                    <i class="fa fa-bullhorn"></i>
                </span>
            </span>
            <h3>20+ Carefully crafted sections</h3>
            <p>For most people, buying a new computer does not have to be as stressful as buying a new car. Nor does it
                have to be as expensive. If you’re like most people, and you have a limited budget for buying a
                computer.</p>
        </div>
    </div>
</div>