<div class="header container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-xs-3 col-sm-2">
            <img src="../images/mobo-black-orange.png">
        </div>
        <div class="col-lg-10 col-md-9 col-xs-9 ">
            <ul class="nav navbar-nav pull-right main-nav ">
                <li><a href="#">Home</a></li>
                <li><a href="#">Overview</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Download</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>